@font-face {
    font-family: meow;
    src: url(../fonts/pixel.woff2);
}

html {
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: meow;
    background-color: black;
}

body {
    color: white;
}

.byte-contain {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    align-items: center;
    height: 60vh;
    position: relative;
    top: 200px;
    right: 200px;
}

.top h1 {
    position: relative;
    bottom: 30px;
    margin: 0;
}

.terms p {
    position: relative;
    bottom: 15px;
}

#ok {
    color: rgb(0, 204, 0);
}

#okk {
    color: rgb(0, 204, 0);
}

#failed {
    color: rgb(204, 0, 0);
}