@import url('https://fonts.cdnfonts.com/css/scary-3');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

.container {
    cursor: url('../img/Bat.cur'), auto;
    font-family: 'Scary', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.members {
    display: flex;
    text-align: center;
}

h4 {
    margin: 10px;
}

p {
    position: relative;
    top: 220px;
}